@charset "UTF-8";
/* CSS Document */

    @charset "utf-8";
    /* CSS Document */
        /* Resets */
    ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
    }
    h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
    }
    p {
    padding:0;
    margin:0 0 20px 0;
    }
    a:link, a:visited {
    text-decoration:underline;
    color:#000;
    }
    a:hover {
    text-decoration:none;
    }
    ul li {
    padding:5px 0;
    }
    ul li input[type="text"], ul li input[type="password"] {
    width:200px;
    }
	textarea {
		width: 400px;
		height: 150px;
	}
	
    /* Headers */
    h1 {
    font-size:1.8em;
    }
    h2 {
    font-size:1.4em;
    }
    #logo {
	background-image:url(../images/logo.jpeg);
	background-repeat:no-repeat;
	height:80px;
    font:2em Arial;
    margin:0 0 5px 0;
    padding:0;
    width:200px;
    color:black;
    }
    /* Containers */
    body {
	padding-top:50px;
    font-family:Arial;
    font-size:0.8em;
	}
	#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
    }
    #container, footer {
    width:920px;
    margin:0 auto;
    padding:20px;
    }
    header {
    width:940px;
    padding:10px;
    margin:0 auto 0 auto;
    }
    #landing {
    min-height:700px;
	background:#000000;
	background-repeat:no-repeat;
	background-position:center;
    }
    footer {
    border-radius:0 0 5px 5px;
    }
    .widget {
    margin-bottom:20px;
    }
    .widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
    }
    .widget .inner {
    margin:0 10px;
    }
    /* Navigation */
    nav {
    float:left;
    }
    nav ul {
    margin:0;
    }
    nav ul li {
    display:inline;
    margin-right:10px;
    }
    nav ul li a {
    text-decoration:none;
    }
    nav ul li.current {
    font-weight:bold;
    }
    nav ul li a.last {
    border-right:0;
    }
    /* Aside */
    aside {
	background-color:green;
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding:5px;
	margin-top:50px;
    }
	
	.profile {
		background:#f9f9f9;
		border:1px dashed #ccc;
		padding:5px;
	}
	
	.profile img {
		width:100%;	
	}
    /* Login */
    #login li.link {
    margin-top:5px;
    }
    /* Footer */
    footer {
    border-top:3px dashed #ddd;
    color:#999;
    }
    /* Misc */
    .clear {
    clear:both;
    }


