@charset "UTF-8";
/* CSS Document */
ul {
	
    list-style:none;
	display:inline;
	font-size:26px;
	
	}
 ul li {
    padding:5px 15px;
	
	
    }
nav ul {
    margin: 0;
}
a:link, a:visited {
    text-decoration: none;
    color:rgba(0,51,102,1);
    }
a:hover {
    text-decoration:none;
    }
h3{
	font-size:19px;
	line-height:0px;
}
a{  
    color:rgba(255,255,255,1);
}
#menu li {
	display: inline;
	text-align:center;
	
}
#header{
	width:1000px;
	background-color:rgba(91,91,91,1);
	border-radius:5px 5px 0 0;
	margin:0px auto;
	text-align:center;
}
.header{
	color:rgba(255,102,0,1);
	text-align:left;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	font-size:48px;
}
.subheader{
	color:white;
	text-align:center;
	font-size:33px;
}
#social{  
    color:#FF0000;
} 
body {
	font-family:Arial;
    font-size:0.8em;
}
#container{
	margin:0px auto;
	width:900px;
}
#payment{
	width:250px;
	padding:10px;
	/*float:left;*/
	background-color:#EEE;
		
}
.left{
	text-align:center;
	text-decoration:underline;
	color:#000000;
	font-size:36px;
}
.right{
	text-align:center;
	text-decoration:underline;
	color:#000000;
	font-size:36px;
}
#title{
	height:50px;
	width:800px;
	font-size:36px;
	margin:auto;
}
#title2{
	height:50px;
	width:450px;
	font-size:36px;
	/*margin-right:50px;*/
	float:right;
	top:-50px;
}
.table{	
	width:900px;
	height:500px;
	margin: 0px auto;
	text-align:center;
	font-size:27px;
	padding-top:0px;
}

#table{
	background-image:url(../images/background.jpeg);
	width:1000px;
	height:700px;
	/*padding-top:25px;*/
	margin: 0px auto;
	text-align:center;
	border:#333333;
	border-radius:0 0 5px 5px;
	font-weight:bold;
}
#address{
	width:250px;
	padding:10px;
	position:relative;
	left:300px;
	top:-350px;
	height:350px;
	background-color:black;
		
}
#paypal{
	margin:0px auto;
	width:150px;
}
.pwyw{
	width:250px;
	float:left;	
}
p.pwyw{
	line-height: 25px;
}
p{
	font-size:14px;
}
#map{
	width:300px;
	/*float:right;*/
	position:relative;
	left:600px;
	top:-720px;
}

#slideshow {
	padding: 0px;
	margin-bottom:10px;
	border: 10px solid black;
	border-radius: 3px;
} 
#slideshow-caption{
	padding:0;
	margin:0;
}

#slideshow img, #slideshow div {  
	padding: 0px;
	background-color: #EEE;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0; 
	margin: 0; 
}
